* {
	box-sizing: border-box;
	margin:0;
	padding:0;
	font-size:2.9rem;
}

html {
	font-size:62.5%;
}
body {
	text-align: center;
	font-family: Century, serif;
	background: rgba(77, 77, 77, 0.22);
}
header{
	padding: 0;
	background-color: #262626;
	margin-left: 5rem;
	margin-right: 5rem;
	margin-top: 2rem;
	border-bottom: 5px solid #fc8e00;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 10rem;
}
footer {
	background-color: #262626;
	border-top: 5px solid #fc8e00;
	color: white;
	margin-left: 5rem;
	margin-right: 5rem;
	height: 10rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
ul {
	display: flex;
	list-style-type: none;
	justify-content: space-around;
	align-items: center;
}
li {
	margin-right: 18px;
}
a {
	text-decoration: none;
	color: #ffffff;
}
section{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #858383;
	margin-left: 5rem;
	margin-right: 5rem;
	height: 50rem;
}
form {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: start;
	width: 39%;
	height: 40rem;
}
form > div > input {
	padding-left: 1rem;
	border: 1px solid orange;
	height: 4rem;
	border-radius: 10px;
	box-shadow: 3px 3px 3px black;
}
form >div >label {
	font-weight: bold;
	margin-right: 1rem;
	font-size: 4rem;
}
.submit {
	width: 20rem;
	margin: 0 auto;
	border: none;
	border-radius: 10px;
}
.submit:hover{
	cursor: pointer;
	background-color: black;
	color: white;
}
section h1 {
	margin: 8px;
	color: #000000;
	font-size: 5rem;
}
header > h1 {
	font-size: 6rem;
	color: white;
}